.app{
    position: relative;
}
.left{
    /* width: 0px; */
    height: 1080px;
    position: absolute;
    /* background-color: orange; */
    z-index: 3;
    left:0px;
    transition: 0.7s;

}
.left .toggle{
    background-color:black;
    border-radius: 0 8px 8px 0;
    z-index: 3;
    position: relative;
    width: 20px;
    height: 40px;
    left: 368px;
    top:520px;
    cursor: pointer;
}

.right{
    width: 100%;
    height: 1080px;
    position: absolute;
    right: 0;
    background-color: aquamarine;
}
.map_wrap {
    position:relative;
    width:100%;
    height: 1080px;
}
.title {
    font-weight:bold;
    display:block;
}

.hAddr {
    position:absolute;
    right:10px;
    bottom:10px;
    border-radius: 2px;
    background:#fff;
    background:rgba(255,255,255,0.8);
    z-index:1;
    padding:5px;
}
#centerAddr {
    display:block;
    margin-top:2px;
    font-weight: normal;
}
.bAddr {
    padding:5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#map{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}
#menu_wrap {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:350px;
    margin:10px 0 30px 10px;
    padding:5px;
    overflow-y:auto;
    background-color:#FFFFFF;
    z-index: 1;
    font-size:12px;
    border-radius: 10px;
}
.recommended{
    /* border: 1px solid black; */
    border-radius: 50x;
    padding: 0 5px;
    position: absolute;
    right: 0;
}

.btn{
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #FFFFFF;
    transition: 0.7s;
    box-shadow: 1px 1px;
}
.btn:hover{
    background-color: grey;
}
.btn:active{
    background-color: #5f5f5f;
}
.navigate{
    position: relative;
    display: flex;
    z-index: 2;
    float: right;
    right: 60px;
    top:-7px;
    margin: 10px 10px;
}
.navigate a{
    text-decoration: none;
    color: black;
}

.logout_btn{
    display: none;
}
.friendlist_btn:active{
    
}
.foodlist div {
    margin-bottom: 10px; /* 아래쪽 마진으로 줄바꿈 효과 */
  }
  
.friendFoodList{
    position: absolute;
    width: 300px;
    height: 600px;
    background-color: #F5F5F5;
    border:1px solid salmon;
    transition: .5s;
    border-radius: 15px;
    top:50px;
    right: 10px;
    opacity: 0;
    display: none;
}
.friendFoodList .inner{
    /* position: relative; */
    /* display: flex; */
    /* float: right; */
    margin: 10px auto;
}
.friendFoodList .inner .name{
    border: 1px solid black;
    border-radius: 5px;
    width: 80px;
    /* box-sizing: border-box; */
    padding: 5px 8px;
    float: left;
    margin:10px 0 0 40px;
    text-align: center;
}
.friendFoodList .inner .list{
    border: 1px solid black;
    border-radius: 5px;
    /* box-sizing: border-box; */
    padding: 5px 8px;
    width: 80px;
    float: right;
    margin:10px 40px 0 0;
    text-align: center;
}
.friendFoodList .foodlist{
    background-color: ivory;
    width: 300px;
    height: 500px;
    position: relative;
    display: flex;
    top: -270px;
    right: 350px;
    border: 1px solid black;
    border-radius: 15px;
    opacity: 0;
    transition: .7s;
}
.bg_white {
    background:#fff;
}
#menu_wrap hr {
    display: block;
    height: 1px;border: 0;
    border-top: 2px solid #5F5F5F;
    margin:3px 0;
}
#menu_wrap .option{
    text-align: center;
}
#menu_wrap .option p {
    margin:10px 0;
}  
#menu_wrap .option button {
    margin-left:5px;
}
#placesList li {
    list-style: none;
}
#placesList .item {
    position:relative;
    border-bottom:1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}
#placesList .item span {
    display: block;
    margin-top:4px;
}
#placesList .item h5, #placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#placesList .item h5{
    font-size: 15px;
    margin:0;
}
#placesList .item .info{
    padding:10px 0 10px 55px;
}
#placesList .info .gray {
    color:#8a8a8a;
}
#placesList .info .jibun {
    padding-left:26px;
    background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}
#placesList .info .tel {
    color:#009900;
}
#placesList .item .markerbg {
    float:left;
    position:absolute;
    width:36px;
    height:37px;
    margin:10px 0 0 10px;
    background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}
#placesList .item .marker_1 {
    background-position: 0 -10px;}

#placesList .item .marker_2 {
    background-position: 0 -56px;}

#placesList .item .marker_3 {
    background-position: 0 -102px}

#placesList .item .marker_4 {
    background-position: 0 -148px;
}
#placesList .item .marker_5 {
    background-position: 0 -194px;
}
#placesList .item .marker_6 {
    background-position: 0 -240px;
}
#placesList .item .marker_7 {
    background-position: 0 -286px;
}
#placesList .item .marker_8 {
    background-position: 0 -332px;
}
#placesList .item .marker_9 {
    background-position: 0 -378px;
}
#placesList .item .marker_10 {
    background-position: 0 -423px;
}
#placesList .item .marker_11 {
    background-position: 0 -470px;
}
#placesList .item .marker_12 {
    background-position: 0 -516px;
}
#placesList .item .marker_13 {
    background-position: 0 -562px;
}
#placesList .item .marker_14 {
    background-position: 0 -608px;
}
#placesList .item .marker_15 {
    background-position: 0 -654px;
}
#pagination {
    margin:10px auto;
    text-align: center;
}
#pagination a {
    display:inline-block;
    margin-right:10px;
}
#pagination .on {
    font-weight: bold;
    cursor: default;
    color:#777;
}